@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@*@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;*@


<section class="l-section l-section--large-padding-top b-intro-block">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="b-intro-block__text-wrapper">
					<h2 class="c-heading c-heading--md">@Model.Value("homeAboutCompanyDetailsTitle")</h2>
					<p class="c-text">
						@Model.Value("homeAboutCompanyDetailsDescription")
					</p>
					<a href="" class="c-button c-button--white c-button--text-large btn">
						@Model.Value("homeAboutCompanyDetailsCTA") <i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="b-intro-block__cards-wrapper">
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="c-intro-card">
							     
								<div class="c-intro-card__image-wrapper" style="background-image:url(assets/images/intro-card.jpg)">
								
									<div class="c-intro-card__label">
										<p>@Model.Value("homeAboutCompanyCaseStudiesCardIconText")</p>
									</div>
								</div>
								<div class="c-intro-card__content-wrapper">
	                             
									<h5 class="c-heading c-heading--sm-2">@Model.Value("homeaboutCompanyCaseStudiesCardHeadline")</h5>
									<a href="" class="c-button c-button--white c-button--text-large btn">
										@Model.Value("homeAboutCompanyCaseStudiesCardCTA") <i class="fa-solid fa-arrow-right-long"></i>
									</a>
									
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="c-intro-card c-intro-card--offset-top">
								<div class="c-intro-card__image-wrapper" style="background-image:url(assets/images/intro-card.jpg)">
									<div class="c-intro-card__label">
										<p>@Model.Value("homeAboutCompanySectorsCardIconText")</p>
									</div>

								</div>
								<div class="c-intro-card__content-wrapper">
									<h5 class="c-heading c-heading--sm-2">@Model.Value("homeAboutCompanySectorsCardHeadline")</h5>
									<a href="" class="c-button c-button--white c-button--text-large btn">
										@Model.Value("homeAboutCompanySectorsCardCTA") <i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
								
								<div class="col-md-8">
								    	@*<p><img src="@(@Model.Value("imageCropper"))" /></p>*@
								        
								        @*@{
                                           var selection = Umbraco.Content(Guid.Parse("0caf96b6-8fca-4825-b6a7-ba80bd6489ab"))
                                             .ChildrenOfType("product")
                                             .Where(x => x.IsVisible());
                                            }
                                            <ul>
                                             @foreach (var item in selection)
                                             {
                                             var typedMediaPickerSingle = item.Value<IPublishedContent>("prouctContentImage");
                                                 if (typedMediaPickerSingle != null)
                                                 {
                                            <li>
                                                         
                                            <img src="@typedMediaPickerSingle.Url()" />
                                            </li>
                                                 }
                                            
                                             }
                                            </ul>
								    	*@
								    	
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>