@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="l-section l-section--pull-top-large b-services-block">
	<div class="container b-services-block__content-container b-services-block__content-container--logo">
		<div class="row">
			<div class="col-12 b-services-block__heading-container">
				<h2 class="c-heading c-heading--md c-heading--white">@Model.Value("homeOurServicesCardGroupTitle")</h2>
			</div>
			<div class="col-6 col-lg-3">
			   <a href = " /services/commercial-landscaping/">
				<div class="c-services-card">
					<div class="c-services-card__image-wrapper" style="background-image:url(assets/images/services-card.jpg)">
					</div>
					<div class="c-services-card__content-wrapper">
						<h4 class="c-heading c-heading--sm">@Model.Value("homeOurServicesFirstCardTitle")</h4>
						<a href=" /services/commercial-landscaping/">@Model.Value("homeOurServicesCardCTA") <i class="fa-solid fa-arrow-right-long"></i></a>
					</div>
				</div>
			   </a>
			</div>
			<div class="col-6 col-lg-3">
			      <a href = " /services/commercial-landscaping/">
				<div class="c-services-card">
					<div class="c-services-card__image-wrapper" style="background-image:url(assets/images/services-card.jpg)">
					</div>
					<div class="c-services-card__content-wrapper">
						<h4 class="c-heading c-heading--sm">@Model.Value("homeOurServicesSecondCardTitle")</h4>
						<a href=" /services/commercial-landscaping/">@Model.Value("homeOurServicesCardCTA")<i class="fa-solid fa-arrow-right-long"></i></a>
					</div>
				</div>
				 </a>
			</div>
			<div class="col-6 col-lg-3">
			      <a href = " /services/commercial-landscaping/">
				<div class="c-services-card">
					<div class="c-services-card__image-wrapper" style="background-image:url(assets/images/services-card.jpg)">
					</div>
					<div class="c-services-card__content-wrapper">
						<h4 class="c-heading c-heading--sm">@Model.Value("homeOurServicesThirdCardTitle")</h4>
						<a href=" /services/commercial-landscaping/">@Model.Value("homeOurServicesCardCTA") <i class="fa-solid fa-arrow-right-long"></i></a>
					</div>
				</div>
				 </a>
			</div>
			<div class="col-6 col-lg-3">
			      <a href = " /services/commercial-landscaping/">
				<div class="c-services-card">
					<div class="c-services-card__image-wrapper" style="background-image:url(assets/images/services-card.jpg)">
					</div>
					<div class="c-services-card__content-wrapper">
						<h4 class="c-heading c-heading--sm">@Model.Value("homeOurServicesFourthCardTitle")</h4>
						<a href="/services/commercial-landscaping/">@Model.Value("homeOurServicesCardCTA")<i class="fa-solid fa-arrow-right-long"></i></a>
					</div>
				</div>
				 </a>
			</div>
		</div>
	</div>
</section>