@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <section class="l-section b-icon-text-block">
		    <div class="container b-icon-text-block__content-container"> 
		    	<div class="row">
		    		<div class="col-6 col-md-3">	
		    			<div class="c-icon-text-card">
		    				<div class="c-icon-text-card__image-wrapper">
		    					<i class="fa-solid fa-leaf"></i>
		    				</div>
		    				<div class="c-icon-text-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm-2">@Model.Value("serviceFeaturesFirstCardTitle")</h4>
		    					<p class="c-text c-text--small d-none d-md-block">@Model.Value("serviceFeaturesFirstCardDescription")</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-6 col-md-3">	
		    			<div class="c-icon-text-card">
		    				<div class="c-icon-text-card__image-wrapper">
		    					<i class="fa-solid fa-leaf"></i>
		    				</div>
		    				<div class="c-icon-text-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm-2">@Model.Value("serviceFeaturesSecondCardTitle")</h4>
		    					<p class="c-text c-text--small d-none d-md-block">@Model.Value("serviceFeaturesSecondCardDescription")</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-6 col-md-3">	
		    			<div class="c-icon-text-card">
		    				<div class="c-icon-text-card__image-wrapper">
		    					<i class="fa-solid fa-leaf"></i>
		    				</div>
		    				<div class="c-icon-text-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm-2">@Model.Value("serviceFeaturesThirdCardTitle")</h4>
		    					<p class="c-text c-text--small d-none d-md-block">@Model.Value("serviceFeaturesThirdCardDescription")</p>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-6 col-md-3">	
		    			<div class="c-icon-text-card">
		    				<div class="c-icon-text-card__image-wrapper">
		    					<i class="fa-solid fa-leaf"></i>
		    				</div>
		    				<div class="c-icon-text-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm-2">@Model.Value("serviceFeaturesFourthCardTitle")</h4>
		    					<p class="c-text c-text--small d-none d-md-block">@Model.Value("serviceFeaturesFourthCardDescription")</p>
		    				</div>
		    			</div>
		    		</div>

		    	</div>
			</div>		  	
		  </section>