@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
This is the home page for a standard website.
It also highlights the current active page/section in the navigation with the CSS class "current".
*@


@{ var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); }

@if (selection?.Length > 0)
{
<div class="b-header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="b-header__content">
					<a href="/">
						<img class="b-header__logo" src="assets/logos/jbl-logo.svg" alt="" />
					</a>
					<nav class="navbar navbar-expand navbar-light" style="flex:auto;">
						<ul class="navbar-nav" style="flex:auto;">
						    
							<!-- new foreach-->
							<!--Start Foreach loop-->
							
							@foreach (var item in selection)
                            {
                                 if (item.Children().Count() == 0) 
                                 {
                                  <ul class="c-navbar__dropdown-menu dropdown-menu @(item.IsAncestorOrSelf(Model) ? "current" : null)">
                                     <a  href="@item.Url(PublishedUrlProvider)" class="navlink w-nav-link">@item.Name</a>
                                   </ul>
                                 }
                                 else if (item.Children().Count() >= 1)
                                 {
                                     <div data-hover="1" data-delay="0" class="w-dropdown">
                                        <div class="navlink w-dropdown-toggle  ">
                                      
                                            <li class="c-navbar__link-item nav-item dropdown">
												<a class="c-navbar__link nav-link " href="#"
													role="button" data-bs-toggle="dropdown" aria-expanded="false">
													<div>@item.Name</div><i class="fa-solid fa-chevron-down"></i>
												</a>
												<ul class="c-navbar__dropdown-menu dropdown-menu">
													
											        @foreach (var child in item.Children().Where(c => c.IsVisible())) 
                                                      { 
                                                        <nav class="w-dropdown-list">  
                                                          <a href="@child.Url(PublishedUrlProvider)" class="c-navbar__dropdown-item dropdown-item">@child.Name</a>
                                                        </nav>
                                                      }
												</ul>
											</li>
                                         </div>
                                    </div>
                                }
                            }
                             <!--End Foreach loop-->
							 <div class="c-navbar__right" style="position:absolute; right:0; ">
								<li class="c-navbar__link-item nav-item">
									<a class="c-navbar__link nav-link " aria-current="page" href="/case-studys/"> Case Studies</a>
								</li>
								<li class="c-navbar__link-item nav-item">
									<a class="c-navbar__link nav-link" href="/news/">News</a>
								</li>
								<li class="c-navbar__link-item nav-item">
									<a class="c-navbar__link nav-link" href="/contact/"> Contact</a>
								</li>
								<li class="c-navbar__link-item nav-item d-none d-lg-block">
									<a href="/contact/" class="c-button c-button--primary c-button--text-large btn">
										Get a quote
									</a>
								</li>
							  </div>
							
							 <!--All Mobail-->

							 <div class="c-navbar__mobile-footer-content d-lg-none text-center">
								<p class="c-heading c-heading--white c-heading--project">Get a free quote today</p>
								<p class="c-text c-text--white c-text--xs">A no obligation quote for your requirements
								</p>
								<a href="" class="c-button c-button--dark c-button--text-large btn">
									Get started <i class="fa-solid fa-arrow-right-long"></i>
								</a>
							 </div>
							<!--}-->
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>


}