@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
     @*var heroImageUrl = ((IPublishedContent)Model.Value("heroImage")).Url();*@
     var aboutImageUrlFirst = ((IPublishedContent)Model.Value("subPagesCardFirstImage")).Url();
     var aboutImageUrlSecond = ((IPublishedContent)Model.Value("subPagesCardSecondImage")).Url();
     var aboutImageUrlThird = ((IPublishedContent)Model.Value("subPagesCardThirdImage")).Url();
	
}
@await Html.PartialAsync("Common Partial Views/Hero")
<!--sart Card view-->
 <section class="l-section l-section--pull-top-small b-card-column">
		    <div class="container b-card-column__content-container"> 
		    	<div class="row">
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-services-card">
		    				<div class="c-services-card__image-wrapper c-services-card__image-wrapper--small" style="background-image:url(@aboutImageUrlFirst)">

		    				</div>
		    				<div class="c-services-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm">Commercial Landscaping</h4>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-services-card">
		    				<div class="c-services-card__image-wrapper c-services-card__image-wrapper--small" style="background-image:url()">

		    				</div>
		    				<div class="c-services-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm">Commercial Landscaping</h4>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-services-card">
		    				<div class="c-services-card__image-wrapper c-services-card__image-wrapper--small" style="background-image:url()">

		    				</div>
		    				<div class="c-services-card__content-wrapper">
		    					<h4 class="c-heading c-heading--sm">Commercial Landscaping</h4>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>
		  <div>
		      @await Html.PartialAsync("Common Partial Views/Our Services Common")
		  </div>
		  
		  <section class="l-section b-text-w-image b-text-w-image--image-right b-text-w-image--grey-image-background">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-md-6">	
		    			<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--left">
		    				<h2 class="c-heading c-heading--md">@Model.Value("singleCardTitle")</h2>
		    				<p class="c-text">
								@Model.Value("singleCardDescription")
		    				</p>
		    			</div>
		    		</div>
		    		<div class="col-12 col-md-6">
			    		<div class="b-text-w-image__image-wrapper">
			    			<img src="https://via.placeholder.com/600x350" alt="" />
			    		</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>
		  
		  @await Html.PartialAsync("Common Partial Views/Service Feature")
		  
		   <section class="l-section b-text-w-image">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-md-6">
			    		<div class="b-text-w-image__image-wrapper">
			    			<img src="https://via.placeholder.com/600x350" alt="" />
			    		</div>
		    		</div>
		    		<div class="col-12 col-md-6">	
		    			<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--right">
		    				<h2 class="c-heading c-heading--md">@Model.Value("ourFirstCardTitle")</h2>
		    				<p class="c-text">
								@Model.Value("ourFirstCardDescription")
		    				</p>
		    			</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>

		  <section class="l-section b-text-w-image b-text-w-image--image-right">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-md-6">	
		    			<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--left">
		    				<h2 class="c-heading c-heading--md">@Model.Value("ourSecondCardTitle")</h2>
		    				<p class="c-text">
								@Model.Value("ourSecondCardDescription")
		    				</p>
		    			</div>
		    		</div>
		    		<div class="col-12 col-md-6">
			    		<div class="b-text-w-image__image-wrapper">
			    			<img src="https://via.placeholder.com/600x350" alt="" />
			    		</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>
		  
    <!--End Card view-->
    
    <div>
        @await Html.PartialAsync("Common Partial Views/Our Services Common")
    </div>
    
  
    
