@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Sustainability>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
} 

<h1>Sustainability</h1>
<section class="l-section b-text-w-image b-text-w-image--image-right">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-md-6">	
		    			<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--left">
		    				<h2 class="c-heading c-heading--md">@Model.Value("ourFirstCardTitle")</h2>
		    				<p class="c-text">
								@Model.Value("ourFirstCardDescription")
		    				</p>
		    			</div>
		    		</div>
		    		<div class="col-12 col-md-6">
			    		<div class="b-text-w-image__image-wrapper">
			    			<img src="https://via.placeholder.com/600x350" alt="" />
			    		</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>

		  <section class="l-section b-text-w-image b-text-w-image--green-badge-background">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-md-6">
			    		<div class="b-text-w-image__image-wrapper">
			    			<img src="https://via.placeholder.com/600x350" alt="" />
			    		</div>
		    		</div>
		    		<div class="col-12 col-md-6">	
		    			<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--right">
		    				<h2 class="c-heading c-heading--md">@Model.Value("ourSecondCardTitle")</h2>
		    				<p class="c-text">
								@Model.Value("ourSecondCardDescription")
		    				</p>
		    			</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>
		  
		  
		  <section class="l-section b-text-w-image">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-md-6">
			    		<div class="b-text-w-image__image-wrapper">
			    			<img src="https://via.placeholder.com/600x350" alt="" />
			    		</div>
		    		</div>
		    		<div class="col-12 col-md-6">	
		    			<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--right">
		    				<h2 class="c-heading c-heading--md">@Model.Value("singleCardTitle")</h2>
		    				<p class="c-text">
								@Model.Value("singleCardDescription")
		    				</p>
		    			</div>
		    		</div>
		    	</div>
			</div>		  	
		  </section>
		  