@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

<!--Image Section-->
<!--<section class="l-section b-footer-banner b-footer-banner--text-right"-->
<!--		 style="background-image:url(/assets/images/footer-banner-background.jpg)">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-12">-->
<!--				<div class="b-footer-banner__content">-->
<!--					<h4 class="c-heading c-heading--lg-2 c-heading--white">@Model.Value("footerLock")</h4>-->
<!--					<div class="b-footer-banner__columns">-->
<!--						<div class="row">-->
<!--							<div class="col-12 col-lg-5">-->
<!--								<h5 class="c-heading c-heading--xs c-heading--white">@Model.Value("workingForJBL")</h5>-->
<!--								<p class="c-text c-text--xs c-text--white">-->
<!--									@Model.Value("workingForJBLDiscription")-->
<!--								</p>-->
<!--							</div>-->
<!--							<div class="col-12 col-lg-5">-->
<!--								<h5 class="c-heading c-heading--xs c-heading--white">@Model.Value("ourMissionTogether")</h5>-->
<!--								<p class="c-text c-text--xs c-text--white">-->
<!--									@Model.Value("ourMissionTogetherDiscription")-->
<!--								</p>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="b-footer-banner__apply-wrapper">-->
<!--						<a href="" class="c-button c-button--outline-primary c-button--text-medium btn">-->
<!--							Apply today <i class="fa-solid fa-arrow-right-long"></i>-->
<!--						</a>-->
<!--						<p class="c-text c-text--xs c-text--white">-->
<!--							<i class="fa-solid fa-check"></i> @Model.Value("currently3OpenRoles")-->
<!--						</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</section>-->


@*@await Umbraco.RenderMacroAsync("GetAFreeQuoteToday")*@
<!--FooterLogos-->
<!--<section class="l-section b-footer-logos l-section--no-padding">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-12">-->
<!--				<div class="b-footer-quote__content">-->
					<!--<img src="assets/logos/footer-icon.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon-2.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon-2.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon.png" alt="" />-->
				@*@{
                   var heroImageUrl = ((IPublishedContent)Model.Value("footer5Logos")).Url();

                 }
                    @heroImageUrl*@
<!--               @Model.Value("template")-->
<!--               @{-->
                  // Get the media item with crops property value
<!--                           var mediaList = Model.Value<IEnumerable<IPublishedElement>>("footer5Logos");-->
               

<!--                foreach (var mediaWithCrops in mediaList.OfType<MediaWithCrops>())-->
<!--                {-->
                    <!--// Get the URL for the media item-->
<!--                     var mediaUrl = mediaWithCrops.GetCropUrl(width: 500, height: 500);-->
                     
                     <!--// Use the media URL as needed-->
<!--                }-->
<!--                }-->
<!--                <div>-->
<!--                <img src="@mediaUrl()" alt="Multiple images in cotent edditer provider" />-->
                    
<!--                </div>-->
<!--                <div>-->
<!--                    @{-->
                      //var multimediapicker=Modle.MediaFiles;
                      //foreach (var item in multimediapicker)
<!--                      {-->
                       // <img src="@item.MediaUrl()" alt="Multiple images in cotent edditer provider" />
<!--                      }-->
<!--                    }-->
                      
<!--                </div>-->



<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</section>-->

<!--Main Footer Section-->

<footer class="l-section l-section--white l-section--padding-bot b-footer">
	<div class="container">
		<div class="row">
		
			<div class="col-12 col-lg-4">
                <div class="b-footer__company-block">
                    <a href="/">
                    <img class="b-footer__logo" src="assets/logos/jbl-logo.svg" alt="" />
                    </a>
                    <p class="c-text c-text--small c-text--bold d-none d-lg-block">@Model.Value("footerMainColumnOneCompanyName", fallback: Fallback.ToAncestors)</p>
                    <p class="b-footer__text c-text d-none d-lg-block">@Model.Value("footerMainColumnOneRegistrationDetail", fallback: Fallback.ToAncestors)</p>
                    <p class="b-footer__text c-text b-footer__text--last d-none d-lg-block">@Model.Value("footerMainColumnOneRights", fallback: Fallback.ToAncestors)</p>
                </div>
</div>
			<div class="col-12 col-lg-8">
				<div class="b-footer__columns">
					<div class="row">
					
					 <!--Contact-->
                        <div class="b-footer__column col-12 col-lg-4">
							<h5 class="b-footer__heading c-heading c-heading--xs-2 d-none d-lg-block"><a href="#">@Model.Value("contactTitle", fallback: Fallback.ToAncestors)</a></h5>
							<p class="c-text c-text--small">
						@Model.Value("contactAddress", fallback: Fallback.ToAncestors)
							  
							</p>
							<p class="b-footer__contact c-text c-text--small">
								<i class="fa-solid fa-phone"></i>
						      @Model.Value("contactNo", fallback: Fallback.ToAncestors)
							</p>
							<p class="b-footer__contact c-text c-text--small">
								<i class="fa-regular fa-envelope"></i>
								<a href="mailto:info@jblandscape.co.uk">@Model.Value("contactEmail", fallback: Fallback.ToAncestors)</a>
							</p>
						</div>
						<!--WebSite-->
						<div class="b-footer__column b-footer__column--half col-6 col-lg-4">
							<h5 class="b-footer__heading c-heading c-heading--xs-2"><a href="#">@Model.Value("webSiteTitle", fallback: Fallback.ToAncestors)</a></h5>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
						</div>
						<!--Help-->
                        <div class="b-footer__column b-footer__column--half col-6 col-lg-4">
							<h5 class="b-footer__heading c-heading c-heading--xs-2">Help</h5>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
						</div>
					
					</div>
				</div>
			</div>
			
		</div>
	</div>
</footer>

